<h1>Main#amalgam</h1>
<p>Find me in app/views/main/amalgam.html.erb</p>


<%= link_to "Home", home_path %> <br>

<% if user_signed_in? %>
	<%= link_to "Log out", signout_path %>
<% else %>
	<%= link_to "Sign up", new_user_registration_path %>
	<%= link_to "Log in", new_user_session_path %>
<% end %>

<% if user_signed_in? %>
	<p><%= current_user.email %></p>
<% end %>

<% if user_signed_in? %>
	<%= link_to "Edit Profile", edit_user_registration_path %>
<% end %>

<p><%= link_to "Users Index", users_path %></p>
<p><%= link_to "Games Index", games_path %></p>
<p><%= link_to "Brackets Index", brackets_path %></p>

FPS Games: 
<% Game.fps.each do |x| %> 
	<div class="fps-item"></div>
	<p><%= x.title %></p>
	<p><%= image_tag x.image_file.url(:small) %></p>
<% end %>

<% Game.moba.each do |x| %>
	<div class="moba-item"></div>
	<p><%= x.title %></p>
	<p><%= image_tag x.image_file.url(:small) %></p>
<% end %>

<% Game.more.each do |x| %>
	<div class="more-item"></div>
	<p><%= x.title %></p>
	<p><%= image_tag x.image_file.url(:small) %></p>
<% end %>

<% Game.legacy.each do |x| %>
	<div class="legacy-item"></div>
	<p><%= x.title %></p>
	<p><%= image_tag x.image_file.url(:small) %></p>
<% end %>

<!-- <div class="games-group" style="background-color: black;">
	<div class="box"></div>
		<% Game.fps.each do |x| %>
		<div class="col-3">
			<%= image_tag x.image_file.url(:large), height: "250", width: "250" %>
		</div>
		<% end %>
	</div>
</div> -->







