<!-- <h1>Main#home</h1>
<p>Find me in app/views/main/home.html.erb</p>
 -->
<%= render "layouts/hero" %>

<div class="box games-set">
	<% Game.fps.each do |game| %> 
		<div class="col-3 full-view">
			<div class="game-box game-box-fps">
				<%= link_to image_tag(game.image_file.url(:original), :class => "game-img"), game %>
				<p class="game-info">
					<span class="tall-text">
						<% if game.title.length >= 25 %>
							<%= game.short_title %>
						<% else %>
							<%= game.title %>	
						<% end %> 
					</span>
				<span class="num-play">Players</span></p>
				<!-- <p>Systems 
					<i class="fa fa-square-o i-small"></i>
					<i class="fa fa-play-circle i-small"></i>
					<i class="fa fa-steam-square i-small"></i>
				</p> -->
			</div>
		</div>
	<% end %>
</div>

<div class="box games-set">
	<% Game.moba.each do |game| %> 
		<div class="col-3 full-view">
			<div class="game-box game-box-moba">
				<%= link_to image_tag(game.image_file.url(:original), :class => "game-img"), game %>
					<p class="game-info">
					<span class="tall-text">
						<% if game.title.length >= 25 %>
							<%= game.short_title %>
						<% else %>
							<%= game.title %>	
						<% end %> 
					</span>
				<span class="num-play">Players</span></p>
			</div>
		</div>
	<% end %>
</div>

<div class="box games-set">
	<% Game.more.each do |game| %> 
		<div class="col-3 full-view">
			<div class="game-box game-box-more">
				<%= link_to image_tag(game.image_file.url(:original), :class => "game-img"), game %>
					<p class="game-info">
					<span class="tall-text">
						<% if game.title.length >= 25 %>
							<%= game.short_title %>
						<% else %>
							<%= game.title %>	
						<% end %> 
					</span>
				<span class="num-play">Players</span></p>
			</div>
		</div>
	<% end %>
</div>

<div class="box games-set">
	<% Game.legacy.each do |game| %> 
		<div class="col-3 full-view">
			<div class="game-box game-box-legacy">
				<%= link_to image_tag(game.image_file.url(:original), :class => "game-img"), game %>
					<p class="game-info">
					<span class="tall-text">
						<% if game.title.length >= 25 %>
							<%= game.short_title %>
						<% else %>
							<%= game.title %>	
						<% end %> 
					</span>
				<span class="num-play">Players</span></p>
			</div>
		</div>
	<% end %>
</div>








