<h1>Main#home</h1>
<p>Find me in app/views/main/home.html.erb</p>

<% if user_signed_in? %>
	<%= link_to "Log out", destroy_user_session_path, method: :delete %>
<% else %>
	<%= link_to "Sign up", new_user_registration_path %>
	<%= link_to "Log in", new_user_session_path %>
<% end %>

<% if user_signed_in? %>
	<p><%= current_user.email %></p>
<% end %>

<% if user_signed_in? %>
	<%= link_to "Edit Profile", edit_user_registration_path %>
<% end %>

<p><%= link_to "Users Index", users_path %></p>
<p><%= link_to "Games Index", games_path %></p>

FPS Games: 
<% Game.fps.each do |x| %> 
	<div class="fps-item"></div>
	<p><%= x.title %></p>
	<p><%= image_tag x.image_file.url(:small) %></p>
<% end %>

<% Game.moba.each do |x| %>
	<div class="moba-item"></div>
	<p><%= x.title %></p>
	<p><%= image_tag x.image_file.url(:small) %></p>
<% end %>

<% Game.more.each do |x| %>
	<div class="more-item"></div>
	<p><%= x.title %></p>
	<p><%= image_tag x.image_file.url(:small) %></p>
<% end %>

<% Game.legacy.each do |x| %>
	<div class="legacy-item"></div>
	<p><%= x.title %></p>
	<p><%= image_tag x.image_file.url(:small) %></p>
<% end %>







