<h1>Main#home</h1>
<p>Find me in app/views/main/home.html.erb</p>

<% 
=begin %>
<% if user_signed_in? %>
	<%= link_to "Log out", signout_path %>
<% else %>
	<%= link_to "Sign up", new_user_registration_path %>
	<%= link_to "Log in", new_user_session_path %>
<% end %>

<% if user_signed_in? %>
	<p><%= current_user.email %></p>
<% end %>

<% if user_signed_in? %>
	<%= link_to "Edit Profile", edit_user_registration_path %>
<% end %>
<% 
=end %>
<!-- <div class="box games-set">
	<div class="col-3 game-box"><h3>Content</h3></div>
	<div class="col-3 game-box"><h3>Content</h3></div>
	<div class="col-3 game-box"><h3>Content</h3></div>
	<div class="col-3 game-box"><h3>Content</h3></div>
</div> -->

<div class="box games-set">
	<% Game.fps.each do |game| %> 
		<div class="col-3 full-view">
			<div class="game-box game-box-fps">
				<%= link_to image_tag(game.image_file.url(:original), :class => "game-img"), game %>
				<p><h4><%= game.title %></h4></p>
				<p>Players Joined </p>
				<p>Systems</p>
			</div>
		</div>
	<% end %>
</div>

<div class="box games-set">
	<% Game.moba.each do |game| %> 
		<div class="col-3 full-view">
			<div class="game-box game-box-moba">
				<%= link_to image_tag(game.image_file.url(:original), :class => "game-img"), game %>
				<p><h4><%= game.title %></h4></p>
				<p></p>
			</div>
		</div>
	<% end %>
</div>

<div class="box games-set">
	<% Game.more.each do |game| %> 
		<div class="col-3 full-view">
			<div class="game-box game-box-more">
				<%= link_to image_tag(game.image_file.url(:original), :class => "game-img"), game %>
				<p><h4><%= game.title %></h4></p>
				<p></p>
			</div>
		</div>
	<% end %>
</div>

<div class="box games-set">
	<% Game.legacy.each do |game| %> 
		<div class="col-3 full-view">
			<div class="game-box game-box-legacy">
				<%= link_to image_tag(game.image_file.url(:original), :class => "game-img"), game %>
				<p><h4><%= game.title %></h4></p>
				<p></p>
			</div>
		</div>
	<% end %>
</div>








