<h1>Games#index</h1>
<p>Find me in app/views/games/index.html.erb</p>

<p><%= link_to "Create New Game", new_game_path %></p>

<% @games.each do |x| %>
<ul>
	<li>
		<%= x.title %>
		<% if x.image_file.url !~ /missing/ %>
			<%= image_tag x.image_file.url(:tiny) %>
		<% end %>
		<%= x.active %>
		<%= x.category.upcase %>
		<span class="index-manage">

		<%= link_to "View", x %>

		<% if can? :update, @article %>
  		<%= link_to "Edit", edit_game_path(x) %>
		<% end %>

		<% if can? :delete, @article %>
  		<%= link_to "Delete", x, method: :delete, data: { confirm: "Are you sure?"} %>
		<% end %>
			
		</span>
	</li>
</ul>
<% end %>


 