<form action="/somepath" method="post">
	<input type="text"><br>
	<input type="text"><br>	
	<input type="text"><br>
	<input type="button" value="Hello World"><br>
	<input type="checkbox"><br>
	<input type="date"><br>
	<input type="hidden"><br>
	<input type="password"><br>
	<input type="radio"><br>
	<input type="image"><br>
	<input type="search"><br>
	<input type="time"><br>
	<input type="url"><br>
	<input type="week"><br>
	<input type="month"><br>
	<input type="color"><br>
	<input type="datetime"><br>
	<input type="email"><br>
	<input type="file"><br>
	<input type="number"><br>
	<input type="range"><br>

	<input type="reset"><br>
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="submit" value="Submit This Form">
</form>


<form action="/somepath" method="post">
	<label for="user[first_name">First Name:</label><br>
	<input type="text" name="user[first_name]">

	<br>
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="submit" value="Submit This Form">
</form>

<%= form_tag("/search", method: "get") do %>
	<%= label_tag(:q, "Search for:") %>
	<%= text_field_tag(:q) %>
	<%= submit_tag("Search") %>
<% end %>
