<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>MythicGamingApp</title>
  <%= stylesheet_link_tag 'application', params[:controller], media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <div class="whole-doc">
    <%= render 'layouts/navbar' %>
      <div class="main-content">
        <%= yield %>
      </div>
   <%= render 'layouts/footer' %>
  </div>

</body>
</html>
